/* formatting page */
body { font-family: helvetica, verdana, arial, sans-serif; font-size: 12px; background-color: #DDD; padding: 35px}
#wrapper { margin: 35px 0; width: 80%; overflow: hidden; border: 1px solid #ccc; }
a {color: #2C96AF;}

/* theme */
.g_gracket { width: 9999px; background-color: #fff; padding: 15px 15px 5px; line-height: 100%; position: relative; overflow: hidden;}
.g_round { float: left; margin-right: 70px; }
.g_game { position: relative; margin-bottom: 15px; box-shadow: 3px 4px 0px #ddd; border: 1px solid #fff; border-top: 0; border-left: 0; }
.g_gracket h3 { min-width: 180px; margin: 0; padding: 10px 8px 8px; font-size: 18px; font-weight: normal; color: #fff} /* @note: this width determinds node size */
.g_team { background: #3597AE; }
.g_team:last-child {  background: #FCB821; }
.g_round:last-child { margin-right: 20px; }
.g_winner { background: #444; }
.g_winner .g_team { background: none; }
.g_current { cursor: pointer; background: #A0B43C!important; }
