/* line 3, ../sass/global.scss */
body {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 12px;
  line-height: 100%;
}
/* line 8, ../sass/global.scss */
body > div {
  margin: 25px;
  height: 420px;
}

/* line 14, ../sass/global.scss */
.g_round {
  background: red;
  float: left;
  margin-right: 20px;
}

/* line 19, ../sass/global.scss */
.g_game {
  background: green;
  margin-bottom: 20px;
}

/* line 23, ../sass/global.scss */
.g_team {
  background: blue;
  color: white;
  padding: 5px;
  margin: 0 0 10px;
}
