/* line 3, ../sass/global.scss */
body {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 12px;
  line-height: 100%;
}
/* line 7, ../sass/global.scss */
body > div {
  margin: 25px;
  height: 420px;
}

/* line 13, ../sass/global.scss */
.g_round {
  float: left;
  margin-right: 10px;
}

/* line 17, ../sass/global.scss */
.g_game {
  background: #efefef;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 10px;
  position: relative;
  width: 80px;
}

/* line 26, ../sass/global.scss */
.g_team {
  height: 18px;
}
/* line 28, ../sass/global.scss */
.g_team span {
  display: none;
}

/* line 32, ../sass/global.scss */
.g_connector {
  position: absolute;
  left: 0;
  top: 50%;
  height: 8px;
  width: 8px;
  margin-top: -4px;
}
