@import "_vars";

body {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size:12px;
	line-height:100%;
	
	> div {
		margin:25px;
		height:420px;
	}
}

.g_round {
	float:left;
	margin-right:30px;
}
.g_game {
	background:#efefef;
	margin-bottom:10px;
	border:1px solid #ccc;
	padding:10px;
	font-size:10px;
	position:relative;
}
.g_team {
	height:18px;
	h3 {
		position:relative;
		span {
		    background: none repeat scroll 0 0 #000;
		    border-radius: 10px 10px 10px 10px;
		    display: inline-block;
		    font-size: 8px;
		    overflow: hidden;
		    padding: 0;
		    position: absolute;
		    right: 0;
		    text-align: center;
		    top: 0;
		    width: 10px;
			color:#fff;
		}
	}
}
.g_connector {
	position:absolute;
	left:0;
	top:50%;
	height:8px;
	width:8px;
	margin-top:-4px;
}


