@import "_vars";

body {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size:12px;
	line-height:100%;
	> div {
		margin:25px;
		height:420px;
	}
}

.g_round {
	float:left;
	margin-right:10px;
}
.g_game {
	background:#efefef;
	margin-bottom:10px;
	border:1px solid #ccc;
	padding:10px;
	font-size:10px;
	position:relative;
	width:80px;
}
.g_team {
	height:18px;
	span {
		display:none;
	}
}
.g_connector {
	position:absolute;
	left:0;
	top:50%;
	height:8px;
	width:8px;
	margin-top:-4px;
}


