@import "_vars";

body {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size:12px;
	line-height:100%;
	
	> div {
		margin:25px;
		height:420px;
	}
}

.g_round {
	background:red;
	float:left;
	margin-right:20px;
}
.g_game {
	background:green;
	margin-bottom:20px;
}
.g_team {
	background:blue;
	color:white;
	padding:5px;
	margin:0 0 10px;
	
}